[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Gerrit events listener to send events to an external GCloud PubSub broker.
[access "refs/*"]
	owner = group GerritForge-events-gcloud-pubsub
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-events-gcloud-pubsub
	label-Verified = -1..+1 group GerritForge-events-gcloud-pubsub
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-events-gcloud-pubsub
	removeReviewer = group GerritForge-events-gcloud-pubsub
	submit = group GerritForge-events-gcloud-pubsub
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
